@model BikeRental.MVCUI.Models.ViewModels.ReservationBikeViewModel;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.OutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.OutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Customer.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Location.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Type.Type)
        </dd>
    </dl>

    <h3>Reserved Bicycles</h3>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Gender</th>
                    <th>Brand</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Bicycles)
                {
                    <tr>
                        <td>@item.Type</td>
                        <td>@item.Size</td>
                        <td>@item.Gender</td>
                        <td>@item.Brand</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Reservation.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
